@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

.card--container {
  display: flex;
  width: 350px;
  flex-direction: column;
  margin: 0;
  font-family: Inter, sans-serif;
}

.card--footer {
  display: flex;
  justify-content: space-between;
  height: 48px;
  align-items: center;
}

.footer--mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card--title {
  margin: 0;
  font-size: 11px;
  letter-spacing: -0.041px;
  line-height: 16px;
  width: 100%;
  font-weight: 500;
}

.card--author {
  margin: 0;
  text-align: initial;
  font-size: 10px;
  line-height: 18px;
  letter-spacing: 0.053px;
  width: auto;
  max-width: 100%;
  color: #aaa;
}

.info--section {
  display: flex;
  align-items: center;
}

.info {
  display: flex;
  padding: 0 8px;
  color: rgba(0, 0, 0, 0.5);
}

.card--info {
  margin: 0;
}

/*

.svg-icon:hover {
  display: block;
}

.svg-hover:hover {
  display: none;
}

.svg-icon {
}

.svgover {
  display: none;
}
.svg-container:hover {
  display: none;
}
.svgHover-container:hover {
  display: block;
}

*/

.svgHover-container {
  width: 30px;
  height: 20px;
  display: none;
}
