.header--container {
  padding-top: 60px;
}

.header--title {
  margin-top: 0.1em;
  font-weight: 700;
  color: rgba(0,0,0,.8);
  text-align: center;
  margin-bottom: 10px;
  cursor: default;
}

.header--subtitle {
  display: inline-block;
  color: rgba(0,0,0,.3);
  text-align: center;
  max-width: 800px;
  cursor: default;
  margin-top: 0.1em;
}

.header--buttons {
  padding: 32px 32px 48px;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  position: relative;
}

.header--form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header--form--cont {
  border: 1px solid rgba(0,0,0,.3);
  border-radius: 32px;
  width: 319px;
  margin-top: 32px;
}

.header--input {
  display: flex;
  height: 32px;
  box-sizing: border-box;
  align-items: center;
  margin: 8px 8px 8px 24px;
}

.search--icon {
  border-radius: 16px;
  background-color: hsl(204, 97%, 54%);
  margin-right: 0!important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 32px;
  transform: translateX(-1px);
}